body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo */
    margin: 0;
    padding: 0;
    color: #ffffff; /* Cor das letras */
}
header {
    background-color: #012E40;
    padding:20px;
    height: 80px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    padding: 20px;
}
div {
    background-color: #121212;
    padding: 20px;
    border-radius: 40px #04384d;
    border: 2px solid   #04384d;
    width: 90%;
    max-width: 90%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
img {
    border-radius: 15px; /* Borda arredondada para as imagens */
    width: 200px;
    height: 200px;
}

@media (max-width: 600px) {
    .div {
        flex-wrap: wrap;;
    }
}
@media (max-width: 400px) {
    .div {
        flex-wrap: wrap;
    }
}